<app-navigator></app-navigator>
<div class="main__grid-wrapper">
  <article *ngFor="let city of (citys$ | async)">
    <img class="article__img" src = "{{city.image}}" alt = "{{city.name}}">
    <div class="artcile__text">
      <div class="article__control">
        <div class="article__left-title">
          <h3>{{city.name}}</h3>
          <div *ngIf="city.favorite; else notSelected">
            <button (click)="delFromFavorite(city.id)">
              <mat-icon svgIcon="Selected"></mat-icon>
            </button>
          </div>
          <ng-template #notSelected>
            <button (click)="addToFavorite(city.id)">
              <mat-icon svgIcon="NotSelected"></mat-icon>
            </button>
          </ng-template>
        </div>
        <div class="article__right-title">
          <button (click)="deleteCity(city.id)">
            <mat-icon class="article__icon" svgIcon="Delete"></mat-icon>
          </button>
          <button (click)="navigateToEditForm(city.id)">
            <mat-icon class="article__icon" svgIcon="Edit"></mat-icon>
          </button>
        </div>
      </div>
      <p>{{city.description}}</p>
    </div>
  </article>
</div>
