<app-navigator></app-navigator>
<div class="main__grid-wrapper">
  <article *ngFor="let city of citys">
    <img class="article__img" src = "{{city.image}}" alt = "{{city.name}}">
    <div class="artcile__text">
      <div class="article__title">
        <h3>{{city.name}}</h3>
        <div *ngIf="city.favorite; else notSelected">
          <button (click)="delFromFavorite(city.id)">
            <mat-icon svgIcon="Selected"></mat-icon>
          </button>
        </div>
        <ng-template #notSelected>
          <button (click)="addToFavorite(city.id)">
            <mat-icon svgIcon="NotSelected"></mat-icon>
          </button>
        </ng-template>
      </div>
      <p>{{city.description}}</p>
    </div>
  </article>
</div>
