<div class="create-form">
  <button
    class="create-form__button"
    [routerLink]="getListDisplay() ? '' : '/tile'">
    <mat-icon class="create-form__icon" svgIcon="Back"></mat-icon>
    Назад
  </button>
  <form
    (submit)="createCity(name.value, description.value, url.value)"
    class="create-form__form">
    <div class="create-form__container">
      <label for="city-name">Название города</label>
      <input
        id="city-name"
        class="create-form__input"
        type="text"Описание города
        required
        #name>
    </div>
    <div class="create-form__big-container">
      <label for="city-discription">Описание города</label>
      <input
        id="city-discription"
        class="create-form__big-input"
        type="text"
        required
        #description>
    </div>
    <div class="create-form__container">
      <label for="city-link">Ссылка на картинку</label>
      <input
        id="city-link"
        class="create-form__input"
        type="text"
        required
        #url>
    </div>
    <button
      class="create-form__create-button"
      type="submit">
      Создать
    </button>
  </form>
</div>
