<nav>
  <div>
    <button
      [ngClass]="getListDisplay()
        ? 'nav__left-button_pressed'
        : 'nav__left-button'"
      [routerLink]="''"
      (click)="setListDisplay()">
      Список
    </button>
    <button
      [ngClass]="!getListDisplay()
        ? 'nav__right-button_pressed'
        : 'nav__right-button'"
      [routerLink]="'/tile'"
      (click)="setTileDisplay()">
      Плитка
    </button>
  </div>
    <button
      class = "nav__create-button"
      [routerLink]="'/create'">
      Создать
    </button>
</nav>
